# Ignore temporary/cache files
.DS_Store
Thumbs.db
*.log
database/*.sqlite
database/*.db
database/zkteco_status.json
uploads/*
!uploads/attachments/
uploads/attachments/*
!uploads/attachments/.htaccess
iclock/pending_cmd.txt
